/* ----  slider  ---- */
.slider {
  width: 300px;
  position: relative;
  margin: 10% auto;
}

.slider img {
  width:100%;
  position: absolute; 
  animation: slider 3000ms infinite;
}

@keyframes slider {
  0% {
    transform: rotate( 10deg );
  }
  50% {
    transform: rotate( -10deg );
  }
  100% {
    transform: rotate( 10deg );
  }
  }